ion-textarea {  
    font-size: 1.2em !important;
} 

ion-list {  
    --ion-item-background: none; 
}

ion-item {  
    --border-radius: 40px;  --background: rgba(255, 255, 255, 0.7); 
}

textarea {  
    padding: 20px 0 0 10px !important; 
}

.message {  
    box-shadow: 3px 2px rgba(0, 0, 0, 0.4); 
}
